@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

.logs2 {
    padding: 5px 20px 20px;
}

.logs {
    padding-top: 5px;
    width: 100%;
}

.logs table {
    padding: 20px;
    width: 100%;
    word-break: break-all;
    border: none;
    border-spacing: 0px;
    font-family: 'Inconsolata', monospace;

}

.logs table thead {
    font-weight: bold;
}

.logs table thead tr {
    background-color: transparent;
}

.logs table td {
    vertical-align: top;
}

.logs table tr, .logs table td {
    border: none;
    padding: 0;
}

/*do not break time and service block*/
.logs table tr td:first-of-type {
    white-space: nowrap;
    padding-right: 10px;
    width: 10px;
}

.logs table tr td:last-of-type {
    border-left: solid 1px black;
    padding-left: 10px;
    padding-bottom: 4px;
}

.tag {
    background-color: #e8e8e8;
    border-radius: 4px;
    padding: 0 4px 2px;
    white-space: nowrap;
    word-break: keep-all;
}
.tog {
    background-color: #e8e8e8;
    border-radius: 4px;
    padding: 0 4px 2px;
}